<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.suntrans.looney">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <uses-permission android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <application
        android:name=".LooneyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".utils_activity.AndroidUtilsActivity" />
        <activity android:name=".custom_view.Demo1Activity" />
        <activity android:name=".window_manager.WindowManagerDemo1" />
        <activity android:name=".cavans_demo.CanvasActivity" />
        <activity android:name=".usb.UsbActivity" />
        <activity android:name=".vedio.CameraDemo" />
        <activity android:name=".vedio.AudioRecord" />
        <activity android:name=".custom_view.CoordinatorLayoutActivity" />
        <activity android:name=".custom_view.RefreshLayoutActivity" />

        <service android:name=".window_manager.SuspensionWindowService" />
    </application>

</manifest>